//variables
$leftmenu_width: 250px;
$editor-tabs_height: 80px;
$container: 70%;
//colors
$white_col: #fff;
$greybgc_col: #ffffff;
$link_col: #26282b;
$linkhover_col: #e2022e;
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  box-sizing: border-box;
  background-color: $greybgc_col;
}
.container {
  width: $container;
  margin: 0 auto;
}
#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}
//navigation
.navigation {
  width: 100%;
  min-height: 70px;
  max-height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  //box-shadow: 2px 0 2px rgb(0, 0, 0);
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: $white_col;
  .navwidth {
    min-width: $container;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .logo {
      img {
        width: 70px;
      }
    }
    .helpspace {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;

    a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      color: $link_col;
      padding: 0 15px;
      transition: all 0.4s ease;
      white-space: nowrap;
      &.active {
        color: $linkhover_col;
        svg {
          path {
            fill: $linkhover_col;
          }
        }
      }
      &:hover {
        color: $linkhover_col;
        svg {
          path {
            fill: $linkhover_col;
          }
        }
      }
      svg {
        width: 28px;
        padding: 4px;
        box-sizing: border-box;
        cursor: pointer;
        path {
          transition: fill 0.4s ease;
          fill: $link_col;
        }
      }
    }
  }
}

.editing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.filespanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.editorpanel {
  height: calc(100% - 50px);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.TabsAndControls {
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 53px;
}
.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.tab {
  padding: 2px 5px 2px 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  margin-right: 2px;
  cursor: pointer;
  background-color: #f4f4f4;

  &:hover {
    background: $white_col;
  }
  svg {
    width: 20px;
    margin-right: 5px;
  }
  .close-container {
    svg {
      margin-right: 0;
      margin-top: 4px;
    }
  }
  span {
    font-size: 14px;
    margin-right: 12px;
  }
  .close {
  }
}
.active_tab {
  background-color: $white_col;
}
.controls {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3px;
}
//file
.filescontainer {
  margin-top: 20px;
  width: 100%;
}

.file {
  width: 100%;
  padding: 2px 0;
  margin-left: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  svg {
    height: 32px;
  }
  &:hover {
    background: lightgrey;
    cursor: pointer;
  }
}

.splitter-layout > .layout-splitter {
  width: 2px;
  background-color: #e6e6e6;
}
.layout-pane .layout-pane-primary {
  width: 100%;
}
