//variables
$leftmenu_width: 250px;
$editor-tabs_height: 80px;
//colors
$leftmenu_bgc: linear-gradient(#3c4159, #181d36);
$ace_bgc: linear-gradient(#3f4860, #1a203e);
$color1: #802bb1;
$color2: #2d283e;
$color3: #564f6f;
$color4: #4c495d;
$color5: #8e91a7;
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: $color5;
  height: 100%;
  box-sizing: border-box;
  background: $leftmenu_bgc;
  overflow: hidden;
}
#root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}
.leftmenu {
  width: $leftmenu_width;
  min-width: $leftmenu_width;
  display: flex;
  flex-direction: column;
  align-items: center;
  //box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.4),
  //  2px 0px 2px rgba(0, 0, 0, 0.4);
  position: relative;
}
//navigation
.navigation {
  width: 40px;
  min-width: 40px;
  height: 100%;
  background-color: #3e475f;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.4),
    2px 0px 2px rgba(0, 0, 0, 0.4);
  align-items: center;
  padding: 80px 8px 8px;

  img {
    width: 30px;
  }
}

.right {
  width: 100%;
  height: 100%;
}
.tabsContainer {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 30px;
}

//ace-editor style
#ace {
  background: $ace_bgc;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(116, 127, 184, 0.8);
  }
}
.ace-dracula .ace_gutter {
  background: $ace_bgc;
  color: $color5;
  font-family: "Roboto Thin", Consolas, monospace;
}
.ace_scroller {
  background: $ace_bgc;
}
.ace-dracula .ace_marker-layer .ace_active-line {
  background: #4a4f6b;
}
.ace-dracula .ace_marker-layer .ace_selection {
  background: #4a4f6b;
}

.tab,
.tab_active {
  min-width: 100px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding: 5px 10px;
  background: #3f4860;
  margin-right: 3px;
  cursor: pointer;
  transition: all 0.8s ease;

  &:hover {
    background: #5f688d;
  }
}
.tab_active {
  box-shadow: inset 0px -5px 0px 0px #715de5;
  color: white;
  background: #313b57;
}

//file
.filescontainer {
  margin-top: 20px;
  width: 100%;
}

.file {
  width: 100%;
  padding: 2px 0;
  margin-left: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  img {
    height: 26px;
  }
  &:hover {
    background: #3f4860;
    cursor: pointer;
  }
}

.separator {
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: calc(100% - 3px);
  top: 40px;
  cursor: col-resize;
}
