//variables
$leftmenu_width: 250px;
$editor-tabs_height: 80px;
$container: 70%;
//colors
$white_col: #fff;
$greybgc_col: #f8f8f8;
$link_col: #26282b;
$linkhover_col: #e2022e;
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  box-sizing: border-box;
  background-color: $greybgc_col;
}
.container {
  width: $container;
  margin: 0 auto;
}
#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}
//navigation
.navigation {
  width: 100%;
  min-height: 70px;
  max-height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 2px 0 2px rgb(0, 0, 0);
  box-sizing: border-box;
  background-color: $white_col;
  .navwidth {
    min-width: $container;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .logo {
      img {
        width: 70px;
      }
    }
    .helpspace {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;

    a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      color: $link_col;
      padding: 0 15px;
      transition: all 0.4s ease;
      &.active {
        color: $linkhover_col;
        svg {
          path {
            fill: $linkhover_col;
          }
        }
      }
      &:hover {
        color: $linkhover_col;
        svg {
          path {
            fill: $linkhover_col;
          }
        }
      }
      svg {
        width: 28px;
        padding: 4px;
        box-sizing: border-box;
        cursor: pointer;
        path {
          transition: fill 0.4s ease;
          fill: $link_col;
        }
      }
    }
  }
}

.editing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.filespanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.editorpanel {
  height: 100%;
  width: 100%;
}
.tabsContainer {
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 53px;
  //margin-top: 5px;
}

//ace-editor style
#ace {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: $linkhover_col;
    border-radius: 10px;
  }
}

.tab,
.tab_active {
  min-width: 100px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding: 5px 10px;
  background: #e8e8e8;
  margin-right: 3px;
  cursor: pointer;
  transition: all 0.8s ease;
  font-weight: 400;
  &:hover {
    background: lightgrey;
  }
}
.tab_active {
  color: white;
  background: $linkhover_col;
}

//file
.filescontainer {
  margin-top: 20px;
  width: 100%;
}

.file {
  width: 100%;
  padding: 2px 0;
  margin-left: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  svg {
    height: 32px;
  }
  &:hover {
    background: lightgrey;
    cursor: pointer;
  }
}

.splitter-layout > .layout-splitter {
  width: 3px;
}
