html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}

.container {
  width: 70%;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.navigation {
  width: 100%;
  min-height: 70px;
  max-height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: #fff;
}
.navigation .navwidth {
  min-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.navigation .navwidth .logo img {
  width: 70px;
}
.navigation .navwidth .helpspace {
  width: 100%;
}
.navigation .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.navigation .menu a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: #26282b;
  padding: 0 15px;
  transition: all 0.4s ease;
  white-space: nowrap;
}
.navigation .menu a.active {
  color: #e2022e;
}
.navigation .menu a.active svg path {
  fill: #e2022e;
}
.navigation .menu a:hover {
  color: #e2022e;
}
.navigation .menu a:hover svg path {
  fill: #e2022e;
}
.navigation .menu a svg {
  width: 28px;
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.navigation .menu a svg path {
  transition: fill 0.4s ease;
  fill: #26282b;
}

.editing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.filespanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.editorpanel {
  height: calc(100% - 50px);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.TabsAndControls {
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 53px;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.tab {
  padding: 2px 5px 2px 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  margin-right: 2px;
  cursor: pointer;
  background-color: #f4f4f4;
}
.tab:hover {
  background: #fff;
}
.tab svg {
  width: 20px;
  margin-right: 5px;
}
.tab .close-container svg {
  margin-right: 0;
  margin-top: 4px;
}
.tab span {
  font-size: 14px;
  margin-right: 12px;
}
.active_tab {
  background-color: #fff;
}

.controls {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filescontainer {
  margin-top: 20px;
  width: 100%;
}

.file {
  width: 100%;
  padding: 2px 0;
  margin-left: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.file svg {
  height: 32px;
}
.file:hover {
  background: lightgrey;
  cursor: pointer;
}

.splitter-layout > .layout-splitter {
  width: 2px;
  background-color: #e6e6e6;
}

.layout-pane .layout-pane-primary {
  width: 100%;
}

/*# sourceMappingURL=Global.css.map */
